:root {
	--max-page-width: 960px;
	--body-padding: 2em;
	--body-line-height: 1.5;
	--p-max-width: 75ch;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	color-scheme: dark light;
	hanging-punctuation: first last;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: var(--body-line-height);
	min-height: 100vh;
	min-height: 100svh;
	font-family: Arial, Helvetica, sans-serif;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
	height: auto;
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p,
li {
	max-width: var(--p-max-width, 75ch);
	text-wrap: pretty;
}

code {
	display: block;
	border: 1px solid rgb(141, 141, 141);
	padding: 1em 2em;
	max-width: var(--p-max-width, 75ch);
}

input,
textarea,
button,
select {
	font: inherit;
}

@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
	}
}

/* PROJECT CSS BELOW */
body {
	overflow: hidden;
}

#front-page {
	width: 100%;
	height: 100dvh;
	background: green;
}

#project-list {
	width: 100%;
	height: 100dvh;
	background: red;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "display";
}

#project-list > .project {
	grid-area: display;
}

#project-1 {
	background: yellow;
}
#project-2 {
	background: grey;
}
#project-3 {
	background: orange;
}

.show {
	translate: 0 -50dvh;
	transition: translate 0.8s ease-in-out;
}
.hide {
	translate: 0 100dvh;
	transition: translate 0.8s ease-in-out;
}
